[Unit]
Description=[NodeJS] Web Hook

[Service]
ExecStart=/usr/bin/sudo /usr/bin/npm start
Restart=always
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/opt/Multiverse-NodeWebHook/

[Install]
WantedBy=multi-user.target
